# JUST A BOILERPLATE REFERENCE FOR SECURING ENVIRONMENT KEYS FOR DEVS
# @sunnypatell

# Google Sheets / Excel API Configuration
VITE_SHEET_API_URL=<your_sheet_api_url_or_google_apps_script_url>

# Google reCAPTCHA Configuration
RECAPTCHA_PROJECT_ID=<project_id>
RECAPTCHA_SITE_KEY=<site_key>
VITE_RECAPTCHA_SITE_KEY=<site_key>

# Sitemap
SITEMAP_PATH=/sitemap.xml
